@font-face {
    font-family: 'Robot Fernando Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Robot Fernando Regular'), url('../RobotFernando.woff') format('woff');
}
h1{
    font-family: "Robot Fernando Regular";
    font-size: 64px;
    font-kerning: auto;
    color: white;
    font-weight: 200;
}
